.navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-logo {
  color: var(--dl-color-success-500);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.navbar-text {
  color: var(--dl-color-danger-700);
}
.navbar-text01 {
  color: var(--dl-color-gray-white);
}
.navbar-desktop-menu {
  display: flex;
}
.navbar-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-link,
.navbar-link01,
.navbar-navlink,
.navbar-navlink1 {
  color: var(--dl-color-primary-primarytext);
  font-family: Verdana;
  text-decoration: none;
}
.navbar-btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.navbar-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-icon,
.navbar-icon02 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.navbar-image,
.navbar-image01 {
  width: 24px;
  object-fit: cover;
}
.navbar-view {
  border-radius: var(--dl-radius-radius-radius2);
  text-decoration: none;
}
.navbar-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #27272D;
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navbar-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-logo1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.navbar-text03 {
  color: var(--dl-color-danger-700);
}
.navbar-text05 {
  color: var(--dl-color-success-500);
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon06 {
  fill: var(--dl-color-primary-primarytext);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navbar-link05,
.navbar-link06,
.navbar-navlink2,
.navbar-navlink3 {
  color: var(--dl-color-primary-primarytext);
  font-family: Verdana;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.navbar-login {
  color: var(--dl-color-gray-black);
  font-family: Poppins;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-socials1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-icon08,
.navbar-icon10 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.navbar-image2,
.navbar-image3 {
  width: 24px;
  object-fit: cover;
}

@media(max-width: 1600px) {
  .navbar-icon,
  .navbar-icon02 {
    fill: var(--dl-color-primary-primarytext);
    width: 25px;
    height: 25px;
  }
  .navbar-socials1 {
    margin-top: var(--dl-space-space-fiveunits);
  }
  .navbar-icon08,
  .navbar-icon10 {
    fill: var(--dl-color-primary-primarytext);
    width: 25px;
    height: 25px;
  }
}

@media(max-width: 1200px) {
  .navbar-btn-group {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
}

@media(max-width: 991px) {
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-btn-group {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-button {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
}

@media(max-width: 767px) {
  .navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}

@media(max-width: 479px) {
  .navbar {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    padding: 16px;
  }
}